<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Find Free Food in McCormick - Edit Profile</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body class="oneColElsCtrHdr">

<div id="container">
  <div id="header">
    <table align="center">
      <tr>
        <td><img src="img/willie.gif" width="85" height="152" alt="Willie" /></td>
        <td><h1>McCormick Free Food Finder</h1></td>
      </tr>
    </table>
  <!-- end #header --></div>
  <div id="mainContent">
    <h1>Register</h1>
    <br />
	<form id="register" name="register" method="post" action="/edit">
		<p>
		<label>Username:
		  <input type="text" name="user" id="user" value="{{ user.username }}"/>
		</label>
		</p>
		<p>
          <!-- this whole form should probly be AJAXed. Also, require password
                confirmation to change password -->
		  <label>Change Password:
		  <input type="password" name="pass" id="pass"/>
		</p>
		<p>
        <label>Email:
          <input type="text" name="email" id="email" value ="{{ user.email }}"/>
        </label>
        </p>
        <p>
        <label>Phone Number:
          <input type="text" name="phone_no" id="phone_no" value="{{ user.phone_no }}"/>
        </label>
        </p>
        <p>
          <input type="checkbox" name="email_alert" id="email_alert" value="email_alert" {% if user.send_email_alert %}checked="checked" {% endif %} /> Get Email Alerts
        </p>
        <p>
          <input type="checkbox" name="phone_alert" id="phone_alert" value="phone_alert" {% if user.send_phone_alert %}checked="checked" {% endif %} /> Get Phone Alerts
        </p>
        
      
		<input name="submit" type="submit" value="Save" />
	</form>
	    
	<!-- end #mainContent -->
  </div>
  <div id="footer">
    <p>McCormick Free Food Finder</p>
  <!-- end #footer --></div>
<!-- end #container --></div>
</body>
</html>
